@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

.searchbody {
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.search {
  position: absolute;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.searchinput {
  border-radius: 1rem;
  width: 600px;
  height: 50px;
  text-indent: 25px;
  border: 2px solid white;
}

.searchinput:focus {
  box-shadow: none;
  border: 2px solid rgb(15, 15, 190);
}

.search .fasearch {
  position: absolute;
}

.searchbtn {
  border-radius: 1rem;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 80%;
  width: 8%;
  background: blue;
}

.svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  color: white;
  margin-right: 8px;
}
